.wrapper {
	margin: 70px 50px 20px 50px;

	h3 {
		font-weight: bold;
		border-bottom: 2px solid #008b8b;
		width: 350px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 30px;
	}
	.main {
		button {
			padding: 8px 16px;
			margin: 0 auto;
			background-color: #008b8b;
			font-size: 18px;
			text-align: center;
			color: honeydew;
			border: none;
			border-radius: 15px;
			margin: 15px auto;
			display: flex;
			outline: none;

			a {
				color: white;
				text-decoration: none;
			}
		}

		button:hover {
			background-color: #fc7e23fe;
			transition: all 0.2s ease;
		}

		.item {
			display: flex;
			height: 200px;
			margin-bottom: 10px;

			h4 {
				text-transform: uppercase;
				font-weight: bold;
			}

			small {
				color: green;
				font-size: 15px;
			}

			p {
				color: rgb(97, 96, 96);
			}

			img {
				width: 30%;
				margin-right: 20px;
			}
		}
	}
}
